.dropDownContent {
    background-color: blueviolet;
    color: aqua;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
}

.main_container {
    color: rgb(135, 135, 135);
}